<%= render "shared/header" %>

<main>
  <div class = "new-schedule">
  <%= link_to "新規予定作成", new_schedule_path, class: 'new-schedule'%>
  </div>
  <%= month_calendar events: @schedules do |date, schedules| %>
    <%= date.day %>

    <% schedules.each do |schedule| %>
      <div>
        <%= link_to schedule.title, schedule_path(schedule.id), class: 'calendar-schedule'%>
      </div>
    <% end %>
  <% end %>
</main>

<%= render "shared/footer" %>