<%= render "shared/header" %>

<div class = "main">
  <div class = "schedule-show">

    <div class ="schedule-show-set">
      <div class ="schedule-show-title">件名</div>
      <div class = schedule-show-box><%= @schedule.title %></div>
    </div>

    <div class ="schedule-show-set">
      <div class ="schedule-show-title">日時</div>
      <div class = schedule-show-box><%= @schedule.start_time.strftime('%-m/%d %H:%M') %></div>
    </div>

    <div class ="schedule-show-set">
      <div class ="schedule-show-title">場所</div>
      <div class = schedule-show-box><%= @schedule.place %></div>
    </div>

    <div class ="schedule-show-set">
      <div class ="schedule-show-title">参加者</div>
      <div class = schedule-show-box><%= @schedule.person %></div>
    </div>

    <div class ="schedule-show-set">
      <div class ="schedule-show-title">練習メニュー</div>
      <div class = schedule-show-longbox><%= simple_format(@schedule.practice) %></div>
    </div>

    <div class ="schedule-show-set">
      <div class ="schedule-show-title">その他</div>
      <div class = schedule-show-middlebox><%= simple_format(@schedule.others) %></div>
    </div>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= comment.user.name %>：</strong>
          <%= simple_format(comment.text) %>
        </p>
      <% end %>
    </div>

    <%= link_to "コメントする", new_schedule_comment_path(@schedule.id), class: 'button'%>

    <%= link_to "編集", edit_schedule_path, class: 'button'%>

    <%= link_to "戻る", root_path, class: 'back'%>

  </div>
</div>

<%= render "shared/footer" %>